// Place all the styles related to the secert controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// application css
body{
  
}

.mt10{
  margin-top:10px;
}
.mt20{
  margin-top: 20px;
}

.left{
  float:left !important;
}
.center{
  margin:0 auto;
  width:1024px;
}

a{
  text-decoration: none !important;
}
// navbar css

.navbar-inverse{
  background: url("http://teautoparts.com/photo/protruckwarehouse/bg_nav.jpg");
  background-color:#333; // 0165AD 
  border-color: #ccc;
}

#main-nav{

  a:hover{
    color:#0165AD !important;
      text-decoration: none;
  text-shadow: none;
  -webkit-transition: 100ms linear 0s;
  -moz-transition: 100ms linear 0s;
  -o-transition: 100ms linear 0s;
  transition: 100ms linear 0s;
  outline: 0 none;
  font-size: 20px;
  }
}

nav{
  .navbar{
    min-height: 75px;
    box-shadow:0px 1px 24px #888; 
    color:#fff;
  }

    li{
      padding:10px 28px;
    }


  .navbar-fixed-top{
    margin-bottom: 10px;
  }

  .navbar-logo, .navbar-logo li, .navbar-logo a{
    display: inline !important;
    font-size: 28px;
    padding:16px 0 0 0;
    margin:0px;
    font-weight: bold;
    text-decoration: none;
  }


  .navbar-nav{
      font-size: 18px;

    }




  @media (max-width: 1440px) {
     li{
        padding:10px 20px;
     }

      .navbar-nav{
          font-size: 20px;
        }
    }

   @media (max-width: 1220px) {
      li{
        padding:10px 16px;
      }


      .navbar-nav{
          font-size: 16px;
        }
    }  

   @media (max-width: 960px) {
      li{
        padding:10px 10px;
      }

      .navbar-nav{
          font-size: 16px;
        }
    

    }           

// a tag css



    .active{
      height:100%;
      background: #666;
    }

    .active a{
      color:#fff !important;
      background: #666 !important;
    }
  
}

   .navbar-inverse .navbar-nav > li > a{
      color:#fff !important;
          }


// footer css

  footer{
    height:auto;
    width:100%;
    background:#333;
    position: absolute;
    left:0px;
  color:white;
  padding:20px;
  text-align:center;

  }

  .f-icon{
    padding:0px 10px;
  }

  .contact_info{
    padding:5px 0px;
  }

  #copy_right{
    text-align: center;
    padding:15px 0 0 0;
  }

  // start of index page css

  #index{


  .cat-panel{
    border-radius: 5px;
    border:1px solid #aaa;
    padding:0px;
    margin:24px 10px;
    height: 300px;
    box-shadow:2px 2px 4px #888; 
    .cat-panel-img{
      width:100%;
      height:250px;
    }
    .cat-panel-img img{
      width:100%;
      min-width: 100%;
      min-height: 100%;
      display: block;
      margin:0 auto;
      overflow: hidden;
      border-radius: 0 0 5px 5px;
    }


    @media only screen and (min-width: 768px) {
    .image-wrap { max-width: 164px; }
    }    

    .cat-panel-header{
      width:100%;
      max-height:50px;
      padding:0px;
      margin:0px;
      border-bottom:1px solid #333;
    }

    h1{
      padding:10px 10px;
      margin:0px;
      font-size:30px;
    }
  }


  .cat-panel-header{
    font-family: 'Fjalla One', sans-serif;
  }

  .cat-panel-row{
    margin-top: 150px;
  }

  .jumbotron{
    width:100%;
    margin:0px;
  }

  .header-tag-line{
    text-align: center;
    color:white;
    text-shadow: 1px 1px #000;
    font-size: 48px;
  }

  .index-bg1{
    background: url('http://dirtydeedsindustries.com/wp-content/uploads/2015/01/ford-raptor-background.jpg') 50% 0 no-repeat fixed; min-height: 300px;
    background-size: cover;
      }
  
  .features{
    padding:40px 0px;
  }
  
  }

  #show {



    #tb-applications{
      th{
        font-size: 16px;
      }
      tr td{
      font-weight: 900;

    }

      } 
  
  .carousel-inner > .item > img{

      min-height:100%;
      height: auto;
      background: black;
      margin:auto;
  }
  
  .carousel-inner > .item > a > img {
      margin: auto;
  }

  .carousel-inner{
    height:500px;
  }

  @media only screen and (max-width: 480px) {
    .carousel-inner{
    height:300px;
  }

    .carousel-inner > .item > img{

      margin-top:100px;
  }

  
  .carousel-indicators li{
    width:100px;
    height:60px;
    background: black;
  }
  
    .carousel-indicators .active{
    width:100px;
    height:60px;
  }
  
  .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}

  .carousel-indicators .test {

    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}

  .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}


@media only screen and (max-width: 480px){
    table,thead,tbody,th,td,tr{
      display: block;
    }
    thead tr{
      position:absolute;
      top:-9999px;
      left:-9999px;
    }
    tr{
      border:1px solid #aaa;
    }
    td{
      border:none;
      border-bottom:1px solid #eee;
      position:relative;
      padding-left:50%;
    }
      td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }

    /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Product Code"; }
  td:nth-of-type(2):before { content: "Make"; }
  td:nth-of-type(3):before { content: "Model"; }
  td:nth-of-type(4):before { content: "Year"; }
  td:nth-of-type(5):before { content: "Note"; }
  td:nth-of-type(6):before { content: "Color"; }

   
}}
}