// Place all the styles related to the secert controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// application css
body{
  
}

.left{
  float:left !important;
}
.center{
  margin:0 auto;
  width:1024px;
}

a{
  text-decoration: none !important;
}
// navbar css
nav{
  .navbar{
    min-height: 75px;
    box-shadow:0px 1px 24px #888; 
  }

    li{
      padding:10px 28px;
    }


  .navbar-fixed-top{
    margin-bottom: 10px;
  }

  .navbar-logo, .navbar-logo li, .navbar-logo a{
    display: inline !important;
    font-size: 28px;
    padding:16px 0 0 0;
    margin:0px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-nav{
      font-size: 24px;
    }


  @media (max-width: 1440px) {
     li{
        padding:10px 20px;
     }

      .navbar-nav{
          font-size: 20px;
        }
    }

   @media (max-width: 1220px) {
      li{
        padding:10px 16px;
      }


      .navbar-nav{
          font-size: 16px;
        }
    }  

   @media (max-width: 960px) {
      li{
        padding:10px 10px;
      }

      .navbar-nav{
          font-size: 16px;
        }
    

    }           

// a tag css



    .active{
      height:100%;
      background: #666;
    }

    .active a{
      color:#fff !important;
      background: #666 !important;
    }


  
}
// footer css

  footer{
    height:auto;
    width:100%;
    background:#333;
    position: absolute;
    left:0px;
  color:white;
  padding:20px;
  
  }

  .contact_info{
    padding:5px 0px;
  }

  #copy_right{
    text-align: center;
    padding:15px 0 0 0;
  }

  // start of index page css

  #index{


  .cat-panel{
    border-radius: 5px;
    border:1px solid #aaa;
    padding:0px;
    margin:24px 10px;
    height: 300px;
    box-shadow:2px 2px 4px #888; 
    .cat-panel-img{
      width:100%;
      height:250px;
    }
    .cat-panel-img img{
      width:100%;
      min-width: 100%;
      min-height: 100%;
      display: block;
      margin:0 auto;
      overflow: hidden;
      border-radius: 0 0 5px 5px;
    }


    @media only screen and (min-width: 768px) {
    .image-wrap { max-width: 164px; }
    }    

    .cat-panel-header{
      width:100%;
      max-height:50px;
      padding:0px;
      margin:0px;
      border-bottom:1px solid #333;
    }

    h1{
      padding:10px 10px;
      margin:0px;
    }
  }

  .cat-panel-row{
    margin-top: 150px;
  }

  
  }

  #show {
        .carousel-inner > .item > img{
      width: 70%;
      height: 500px;
      background: black;
      margin:auto;
  }
  
  .carousel-inner > .item > a > img {
      max-width: 1200px;
      margin: auto;
  }

  .test{}
  
  .carousel-indicators li{
    width:100px;
    height:60px;
    background: black;
  }
  
    .carousel-indicators .active{
    width:100px;
    height:60px;
  }
  
  .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}

  .carousel-indicators .test {

    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}

  .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
  } 
