  <style type="text/css">
  </style>

  <div id="index">
      <div class="container">

      <div class="row cat-panel-row">
        <% @categories.each do |category|%>      
          <%= link_to product_path(category.id) do %>
           <div class="col-md-4 pull-left">
               <div class="cat-panel">
                 <div class="cat-panel-header">
                    <h1><%= category.category_name %></h1>
                 </div>
                 <div class="cat-panel-img">
                 <% category.photos.each_with_index do |photo,index| %>
                    <!-- missing remove duplication feature if multiple imgs selected as thumb all selected images will show  -->
                     <% if photo.thumb %>
                     <%= image_tag(photo.photo_url) %>
                     <% end %>
                  <% end %>
                 <% end %>
                 
                   </div>

              </div>
            </div>
          <% end %>
          
        </div>  
      </div>
      <div class="container-fluild">
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron index-bg1"><h2 class="header-tag-line">Top graded Nerf Bars at an <span class="red">UNBEATABLE</span> price!</h2><h4 class="header-tag-line">Best Truck Accessories in the Bay Area!</h4></div>
          </div>
        </div>  
      </div>
     <!--  Friendly and Quality Customer Service
Best Price
Top Quality Products
Customer Satisfaction  -->
      <div class="container features">
        <div class="row">
          <div class="col-lg-6">
            <div class="index-feat"><h2>Friendly and Quality Customer Service</h2><p>Friendly customer service from 9:00pm to 6:00pm Monday - Friday</p></div>
            

            <div class="index-feat"><h2>Best Price</h2><p>We do price match. If you can find our price for a better price we offer 10% off or your money back!</p></div>
          </div>
          <div class="col-lg-6">
            <div class="index-feat"><h2>Top Quality Products</h2><p>Not only our products are affordable they are top quality products and build to last.</p></div>
            <div class="index-feat"><h2>Customer Satisfaction</h2><p>Customer satisfaction is our number 1 priority. If you have any questions or concern do not hesiate to contact us for help.</p></div>
          </div>
        </div>
      </div>

  </div>    
<script>
$(function(){

$(".cat-panel").hover(
  function() {
    $( this ).css("box-shadow","2px 2px 6px #0080ff" );
    $( this ).css("border","1px solid #999" );
  }, function() {
    $( this ).css("box-shadow","2px 2px 4px #888" );
    $( this ).css("border","1px solid #aaa" );
  }
);


// parallax scrolling

    $('section[data-type="background"]').each(function(){
        var $bgobj = $(this); // assigning the object
    
        $(window).scroll(function() {
            var yPos = -($window.scrollTop() / $bgobj.data('speed')); 
            
            // Put together our final background position
            var coords = '50% '+ yPos + 'px';

            // Move the background
            $bgobj.css({ backgroundPosition: coords });
        }); 
    });   

});


</script>