<style type="text/css">
  .header{
    margin-top:100px;
  }
</style>   
    <div class="row header">
    <div class="col-xs-12">
    <h2>Import Category Images</h2>
      <%= form_tag import_img_products_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
      <% end %>
    </div>
    </div>