  <div id="index" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>Secert Saurce</h1>
        
      </div>
    </div>
    <div class="row cat-panel-row">
      <a href="/products"><div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product one</h1></div></div></a>
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product two</h1></div></div>
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product three</h1></div></div>
    </div>

     <div class="row">
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product one</h1></div></div>
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product two</h1></div></div>
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product three</h1></div></div>
    </div>

    <div class="row">
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product one</h1></div></div>
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product two</h1></div></div>
      <div class="col-xs-4 cat-panel"><div class="cat-panel-header"><h1>Product three</h1></div></div>
    </div>

  </div>    

